<footer class="footer">
    <div class="outer-container">
        <div class="main-content">

            <!-- Logo Section -->
            <div class="column-1 footer-col">
                <a href="/" class="logo"><img src="/images/od-studios.svg" alt="logo"></a>
            </div>

            <!-- Contact Info -->
            <div class="column-2 footer-col">
                <a href="/#projects" class="text-white-50">Mine projekter</a>
                <a href="/about.html" class="text-white-50">Om mig</a> 
            </div>

            <!-- Contact Info -->
            <div class="column-3 footer-col">
                <div class="social-links">
                    <!-- <a href="https://github.com/oliverhanert" class="text-white me-3" title="GitHub" target="_blank">
                        Github
                    </a>
                    <a href="https://www.linkedin.com/in/oliverhanert/" class="text-white me-3" title="LinkedIn" target="_blank">
                        Linkedin
                    </a> -->
                    <a href="mailto:o.hanert@gmail.com" class="text-white" title="Email" target="_blank">
                        o.hanert@gmail.com
                    </a>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="copyright socket">
            <p>© <span id="current-year">2025</span> OD Studios. All rights reserved. </p>    
        </div>

    </div>
</footer>

<script>
    // Update copyright year
    document.getElementById('current-year').textContent = new Date().getFullYear();
</script>